*{margin:0;padding:0;box-sizing:border-box;}
fieldset, img { border:none; }

img{vertical-align: top;}

em,i,strong,b{ font-style:normal; font-weight:normal; }

ul, ol { list-style:none; } 

a {text-decoration:none; color: black; }
.center{
	width:1200px;
	height:98px;
	margin:0 auto;
	.logo{
		width:57px;
		height:57px;
		border-radius:57px;
		background-color:#d93732;
		float:left;
		display:inline-block;
		background:url(../images/bgr.png);
		margin-top:17px;
		a{
			display:inline-block;
			width:57px;
			height:57px;
			overflow:hidden;
			outline:0;
			color:#333;
			span{
				display:none;
			}
			
		}
		
	}
	.category{
		width:133px;
		margin:0 0 0 17px;
		padding-top:33px;
		height:98px;
		float:left;
		position:relative;
		top:-5px;
		text-align:center;
		.a1{
			display:inline-block;
			padding:0 10px;
			font-size:16px;
			outline:0;
			color:#333;
			line-height:2;
			.bgr{
				width:14px;
				height:12px;
				display:inline-block;
				vertical-align:middle;
				margin-left:5px;
				margin-top:-3px;
				background:url(../images/bgr.png);
				background-position:-205px 0;
			}
		}
		.category_pop{
			position:absolute;
			top:60px;
			left:0;
			width:133px;
			background:#fff9aa;
			z-index:100;
			border-top:5px solid #fff9aa;
			border-radius:2px;
			text-align:center;
			display:none;
			a{
				display:block;
				line-height:1;
				padding:15px 0;
				outline:0;
				color:#333;
				border-top:1px solid #f7f19d;
			}
		}
	}
	.nav{
		margin-top:28px;
		float:left;
		font-size:16px;
		line-height:2;
		width:428px;
		height:32px;
		
		a{
			margin-left:21px;
			cursor:pointer;
			display:inline-block;
			outline:0;	
			&:hover{
			color:red;
		}	
		}

	}
	.search{
		width:239px;
		height:33px;
		border:1px solid #e6e6e6;
		border-radius:31px;
		margin-top:31px;
		float:left;
		.word{
			display:inline-block;
			border:0;
			width:186px;
			height:29px;
			margin-left:15px;
			outline:0;
		}
		.icon_search{
			margin-left:5px;
			border:0;
			width:15px;
			height:14px;
			display:inline-block;
			vertical-align:middle;
			background:url(../images/bgr.png);
			background-position:-133px 0;
			outline:0;
		}
	}
	.opearte{
		margin-left:84px;
		margin-right:16px;
		margin-top:31px;
		margin-bottom: 20px;
		position:relative;
		float:right;
		#user{
			width:28px;
			height:28px;
			border:2px solid #e9e9e9;
			outline:0;
			display:inline-block;
			border-radius:32px;
			transition-duration: .3s; 
			.icon-user{
				display:inline-block;
				margin-left:4px;
				width:14px;
				height:14px;
				vertical-align:middle;
				background:url(../images/bgr.png);
				background-position:-149px 0;
			}
			

		}
		#car{
			width:28px;
			height:28px;
			border:2px solid #e9e9e9;
			outline:0;
			margin-left:5px;
			display:inline-block;
			border-radius:32px;
			.icon-car{
				display:inline-block;
				margin-left:4px;
				width:17px;
				height:14px;
				vertical-align:middle;
				background:url(../images/bgr.png);
				background-position:-164px 0;
			}

		}
		.username{
			width:152px;
			position:absolute;
			top:32px;
			left:-60px;
			border:1px solid #ececec;
			padding:30px 0;
			z-index:1;
			background:#fff;
			text-align:center;
			display: none;
			.pop{
				position: absolute;
				left: 50%;
				top:-3px;
				margin-left: -7px;
				width: 14px;
				height: 6px;
				background: url(../images/bgr.png);
				background-position: -118px 0;
				display: inline-block;
				vertical-align: middle;
				margin-top: -3px;
			}
			.td{
				margin-bottom: 10px;
				dt{
					padding: 5px 0;
				}
				.ss{
					
					color:#b28850;
					a{
						color:#b28850;
					}
				}
			}
		}
		.car-box{
			width:296px;
			padding:20px 30px;
			position:absolute;
			top:48px;
			right:-18px;
			border:1px solid #ececec;
			z-index:1;
			background:#fff;
			 display:none; 
			.carpop{
				position: absolute;
				left: 90%;
				top:-3px;
				margin-left: -7px;
				width: 14px;
				height: 6px;
				background: url(../images/bgr.png);
				background-position: -118px 0;
				display: inline-block;
				vertical-align: middle;
				margin-top: -3px;
			}

		}

	}
}
