*{margin:0;padding:0;box-sizing:border-box;}
fieldset, img { border:none; }

img{vertical-align: middle;}

em,i,strong,b{ font-style:normal; font-weight:normal; }

ul, ol { list-style:none; } 

a {text-decoration:none; color: black; outline:0;}
.main{
	.banner{
		width:100%;
		height:430px;
		position:relative;
		img{
			width:100%;
			height:100%;
		}
		.pages {
			height: 30px;
			position: absolute;
			bottom:0;
			 i {
				width:20px;
				height: 20px;
				border-radius: 10px;
				background: #fff;
				display: inline-block;
				margin:5px;
				&.current {
					background: #f00;
				}
		}
		}	
	}
	.services{
		width:100%;
		height:109px;
		padding:30px 0;
		.center{
			width:1200px;
			height:49px;

			margin:0 auto;
			.f2{
				width:300px;
				height:49px;
				line-height:49px;
				padding-left:35px;
				color:#666;
				font-size:18px;
				float:left;
				.bgr1{
					margin-left:16px;
					display:inline-block;
					margin-top:-3px;
					vertical-align:middle;
					width:52px; 
					height:52px;
					background:url(../images/bgr1.png);
					background-position:0 -53px;
				}
				.top2{
					background-position:-53px -53px;
				}
				.top3{
					background-position:-106px -53px;
				}
				.top4{
					background-position:-159px -53px;
				}
			}
		}
	}
	.index-list{
		width:100%;
		
		padding:45px 0 80px;
		background:#f5f5f5;
		.center1{
			width:1200px;
			margin:0 auto;
			a{
				img{
					margin-left:8px;
				}
			}
		}
		.center2{
			width:1200px;
			margin:0 auto;
			margin-top:60px;
			.sec{
				height:30px;
				line-height:30px;
				background:url(../images/diy-title.png) center no-repeat;
				h3{
					float:left;
					height:30px;
					line-height:30px;
					padding:0 20px 0 10px;
					color:#666;
					font-size:20px;
					font-weight:400;
				}
				.ic1{
					float:right;
					padding:0 10px;
					color:#666;
					font-size:16px;

				}
			}
			.index-content{
				margin-top:20px;
				.p1{
					a{
						display:inline-block;
						img{
							margin-left:8px;
						}
					}
				}
				.p2{
					margin-top:15px;
					a{
						display:inline-block;
						img{
							margin-left:8px;
						}
					}
				}

			}	
			
		}
		.center3{
			width:1200px;
			margin:0 auto;
			margin-top:60px;
			.sec{
				height:30px;
				line-height:30px;
				background:url(../images/diy-title.png) center no-repeat;
				h3{
					float:left;
					height:30px;
					line-height:30px;
					padding:0 20px 0 10px;
					color:#666;
					font-size:20px;
					font-weight:400;
				}
				.ic1{
					float:right;
					padding:0 10px;
					color:#666;
					font-size:16px;

				}
			}
			.box{
				margin-top:28px;
				height:567px;
				.fl{
					float:left;
					a{
						dispaly:inline-block;
					}
				}
				.fr1{
					width:968px;
					float:right;
					display:flex;
					justify-content:space-around;
					flex-wrap:wrap;
					li{
						width:24%;
						height:276px;
						background:#fff;
						text-align:center;
						line-height:30px;
						img{
						margin-bottom:10px;
						}
						&:nth-child(5){
						margin-top:15px;
						}
						&:nth-child(6){
						margin-top:15px;
						}&:nth-child(7){
						margin-top:15px;
						}&:nth-child(8){
						margin-top:15px;
						}
					}
				}
			}
		}
		.center4{
			width:1200px;
			margin:0 auto;
			margin-top:60px;
			.sec{
				height:30px;
				line-height:30px;
				background:url(../images/diy-title.png) center no-repeat;
				h3{
					float:left;
					height:30px;
					line-height:30px;
					padding:0 20px 0 10px;
					color:#666;
					font-size:20px;
					font-weight:400;
				}	
			}
			.yy{
					margin-top:28px;
					width:1200px;
					display:flex;
					justify-content:space-around;
					flex-wrap:wrap;
					li{
						width:24%;
						height:367px;
						background:#fff;
						text-align:left;
						line-height:30px;
						img{
						margin-bottom:10px;
						}
						p{
							font-size:13px;
							line-hieght:1.5;
							min-height:63px;
							margin-top:20px;
							&:hover a{
								color:red;
							}	
						}
						span{
							display:block;
							font-size:12px;
						}
						.s1{
							margin-top:10px;
							color:#9e9e9e;
						}
						
					}
			}
		}
		
	}
	.tool{
		width: 60px;
		height: auto;
		position: fixed;
		right: 60px;
		bottom: 10%;
		z-index: 99;
		text-align: center;
		a{
			display: inline-block;
			width: 60px;
			height: 60px;
			line-height: 60px;
			background: #656766;
			.icon-qq{
			width: 35px;
			height: 34px;
			display: inline-block;
			vertical-align: middle;
			margin-top: -3px;
			background: url(../images/bgr.png);
			background-position: -190px -77px;
		}
		}
		.mt{
			margin-top: 10px;
			display: inline-block;
			width: 60px;
			height: 60px;
			line-height: 60px;
			background: #656766;
			.icon-top{
			width: 35px;
			height: 18px;
			display: inline-block;
			vertical-align: middle;
			margin-top: -3px;
			background: url(../images/bgr.png);
			background-position: -190px -112px;
		}
		}
		
	}
}
.md-box{
	width:100%;
	height:766px;
	position: relative;
	background:url(../images/login_bg.jpg) #f5f5f5 top center no-repeat;
	.cent{
		padding: 70px 90px 110px;
		width: 590px;
		position: absolute;
		right: 50px;
		top: 50px;
		background: #fff;
		#formUser{
			display: block;
			input{
				margin-top: 28px;
				width: 388px;
				padding: 0 10px;
				border: 1px solid #eee;
				height:40px;
				line-height: 40px;
				outline: 0;
			}
			.inputT{
				width:110px;
			}
			#username_info{
				display: block;
			}
			#username_info1{
				display: block;
			}
			#username_info2{
				display: block;
			}
			.vali{
				display: inline-block;
				padding-top: 40px;
				padding-left: 10px;
			}
			.info1{
				display: inline-block;
				padding-left: 10px;
			}
			p{
				margin-top: 10px;
				font-size: 13px;
				a{
					color:#b28850;
				}
			}
			#sub{
				background: #d93732;
				border-radius: 3px;
				height: 48px;
				line-height: 48px;
				width: 100%;
				display: inline-block;
				color: #fff;
			}
		}
	}
}
.md-l{
	width:100%;
	height:766px;
	position: relative;
	background:url(../images/login_bg.jpg) #f5f5f5 top center no-repeat;
	.cBox{
		padding: 70px 90px 110px;
		width: 590px;
		position: absolute;
		right: 50px;
		top: 50px;
		background: #fff;
		#formLogin{
			display: block;
			.title{
				width:410px;
				height:24px;
				line-height: 24px;
				h2{
					width:96px;
					float:left;
				}
				p{
					float:right;
					a{
						color:#b28850;
					}
				}
			}
			input{
				width:100%;
				margin-top: 28px;
				width: 388px;
				padding: 0 10px;
				border: 1px solid #eee;
				height:40px;
				line-height: 40px;
				outline: 0;
			}
			.pw{
				display: block;
			}
			#btn{
				background: #d93732;
				border-radius: 3px;
				height: 48px;
				line-height: 48px;
				width: 100%;
				display: inline-block;
				color: #fff;
			}
			.b{
				margin-top: 20px;
				zoom:1;
				.fl{
					float: left;
					font-size: 13px;
					input{
						width:14px;
						height: 14px;
						margin: -8px 0 0;
					}
				}
				.fr{
					float:right;
					font-size: 15px;
				}
			}
		}
	}
}
.list{
	width:100%;
	min-height:700px;
	position: relative;
	.buy{
		width:100%;
		.box{
				width: 300px;
				height: 320px;
				border: 1px solid #cccccc;
				margin: 5px;
				float: left;
				text-align:center;
				display: inline-block;
				.add_to_cart{
					width: 100%;
					height: 30px;
					margin:0 auto;
					line-height: 30px;
					text-align: center;
					cursor: pointer;
					border: 1px solid;
					dispaly:inline-block;
					background: #d93732;
					color:#fff;
				} 
				#img{
					width:200px;
					height:200px;
					cursor: pointer;
				}
			}
	}
	a{	
		position: absolute;
		top: 10px;
		left: 100px;
		display: inline-block;
	}
}
.cart{
	width:100%;
	min-height: 1000px;
	.cart_title div, .product div {
			width:100px;
			height:30px;
			line-height: 30px;
			text-align: center;
			border:1px solid;
			float:left;
		}
	.product div {
			height: 90px;
			line-height: 90px;
			overflow: hidden;
		}
	.cart_title, .cart_body, .product {
			clear:both;
		}
		.minus, .add {
			width:20px;
			height:30px;
			line-height: 30px;
			display: inline-block;
			border:1px solid;
			cursor:pointer;
		}
		.cart_title .title, .product .title {
			width:300px;
		}
		.total {
			width:100%;
			height:50px;
			line-height: 50px;
			position: absolute;
			bottom:0;
			border: 1px solid;
		}
		.btn{
			position: fixed;
			right: 20px;
			top: 100px;
			display: inline-block;
			width: 100px;
			height: 40px;
			line-height: 40px;
			text-align: center;
			background: red;
			color: white;
			border:0;
			outline: 0;
		}


}
.xiangqing{
	width:100%;
	min-height: 1000px;
	padding: 0 10px;
	padding-bottom:10px;
	background:#f5f5f5;
	.top1{
		width:100%;
		height: 62px;
		padding: 20px;
		line-height: 22px;
		zoom:1;
		.ll{	
			width:100px;
			float: left;
			font-size: 12px;
		}
		.rr{
			width:400px;
			float: right;
			font-size: 12px;
			.ra{
				display: inline-block;
				width: 86px;
				height:18px;
				line-height: 15px;
				border: 2px solid #979795;
				border-radius: 22px;
				color:#666;
				text-align: center;

			}
		}
	}
	.goods{
	
		background: #fff;
		overflow: hidden;
		width:100%;
		padding-bottom: 60px;
		.gb{
			width:1200px;
			min-height: 500px;
			margin:0 auto;
			margin-top: 60px;
			zoom:1;
				#pics{
				width:80px;
				float: left;
				margin-left:0px;
				img{
					padding-bottom: 10px;
				}
				}
				#imgwrapper{
					width:400px;
					float: left;
					img{
						width:100%;
						vertical-align: middle;
						border:0;
					}
			}
			.goods-attr{
				width:485px;
				float: right;
				.title{
					line-height: 1;
					font-size: 30px;
					font-weight: 700;
				}
				p{
					margin-top: 20px;
					color:#666;
					font-size:14px;
				}
				.price{
					width: 485px;
					padding:20px 0;
					border-width: 1px 0;
					border-style: solid;
					border-color: #e6e6e6;
					margin-top: 20px;
					height: 66px;
					line-height: 66px;
					zoom:1;
					color:#d93732;
					font-size:24px;
					font-weight: 700;
					line-height: 1;
				}
				.add{
					border-bottom: 1px solid #e6e6e6;
					padding-bottom: 30px;
					height: 75px;
					line-height: 50px;
					margin-top: 20px;
					text-align: center;
					padding: 15px 180px;
					color: #fff;
					background: #d93732;
					border-radius: 3px;	
					cursor: pointer;
				}
			
				}
			
		}
		.detail{
			width: 100%;
			padding: 20px 0;
			border-top: 1px solid #f5f5f5;
			border-bottom: 1px solid #f5f5f5;
			background: #fff;
			font-size:18px;
			text-align: center;
			.bs{
				width: 1200px;
				margin: 0 auto;
				a{
					margin:0 18px;
				}
				.focus{
					color:#d93732;
				}
				.f-6{
					color: #666;
				}
			}
		}
		.bg-ff{
			width: 1040px;
			padding: 80px;
			margin: 50px auto;
			background: #fff;
			.warm{
				background: #fbf8cd;
				padding: 30px 40px;
				width: 670px;
				margin-bottom: 30px;
			}
		}
	}
	.tool{
		width: 60px;
		height: auto;
		position: fixed;
		right: 60px;
		bottom: 10%;
		z-index: 99;
		text-align: center;
		a{
			display: inline-block;
			width: 60px;
			height: 60px;
			line-height: 60px;
			background: #656766;
			.icon-qq{
			width: 35px;
			height: 34px;
			display: inline-block;
			vertical-align: middle;
			margin-top: -3px;
			background: url(../images/bgr.png);
			background-position: -190px -77px;
		}
		}
		.mt{
			margin-top: 10px;
			display: inline-block;
			width: 60px;
			height: 60px;
			line-height: 60px;
			background: #656766;
			.icon-top{
			width: 35px;
			height: 18px;
			display: inline-block;
			vertical-align: middle;
			margin-top: -3px;
			background: url(../images/bgr.png);
			background-position: -190px -112px;
		}
		}
		
	}
}
.queren{
	width:100%;
	min-height: 895px;
	padding: 0 10px;
	padding-bottom:10px;
	background:#f5f5f5;
	position: relative;
	.get_money{
		width:430px;
		height: 200px;
		position: absolute;
		top:125px;
		left:360px;
		background: pink;
		opacity: .8;
		border-radius: 5px;
		text-align: center;
		line-height: 200px;
		.close{
			position: absolute;
			top:0px;
			right: 0px;
		}
		.confirm{
			position: absolute;
			bottom: 50px;
			left:178px;
			width:50px;
			height:20px;
			text-align: center;
			line-height: 20px;
		}
	}
	.top1{
		width:100%;
		height: 62px;
		padding: 20px;
		line-height: 22px;
		zoom:1;
		.ll{	
			width:100px;
			float: left;
			font-size: 12px;
		}
		.rr{
			width:400px;
			float: right;
			font-size: 12px;
			.ra{
				display: inline-block;
				width: 86px;
				height:18px;
				line-height: 15px;
				border: 2px solid #979795;
				border-radius: 22px;
				color:#666;
				text-align: center;

			}
		}
	}
	.cart_title div, .product div {
			width:100px;
			height:30px;
			line-height: 30px;
			text-align: center;
			border:1px solid;
			float:left;
		}
	.product div {
			height: 90px;
			line-height: 90px;
			overflow: hidden;
		}
	.cart_title, .cart_body, .product {
			clear:both;
		}
		.minus, .add {
			width:20px;
			height:30px;
			line-height: 30px;
			display: inline-block;
			border:1px solid;
			cursor:pointer;
		}
		.cart_title .title, .product .title {
			width:300px;
		}
		.total {
			width:99%;
			height:50px;
			line-height: 50px;
			position: absolute;
			bottom:0;
			border: 1px solid;
			text-align: center;
			p{
				
				float:left;
				
			}
			#sub{
				width:10%;
				float: right;
				height:50px;
				text-align: center;
				border: 0;
				line-height: 50px;
				border-radius: 2px;
				background: red;
				color: white;
				outline: 0;

			}
		}


}